<?xml version='1.0' encoding='utf-8'?>

<Context>

    <!-- Default set of monitored resources -->
    <WatchedResource>WEB-INF/web.xml</WatchedResource>

    <Resource name="defaultDS" auth="Container"
            type="javax.sql.DataSource" username="sa" password="T%R$E#w2q1"
            driverClassName="com.microsoft.sqlserver.jdbc.SQLServerDriver" 
            url="jdbc:sqlserver://119.81.236.110:1433;DatabaseName=SKE_EHR;SelectMethod=cursor;"
            />

</Context>